.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;

  .input-label {
    display: inline-block;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .input-control {
    padding: 12px;
    border: 1px solid rgba(0,0,0, 0.3);
    border-radius: 8px;
  }
}
